
body{
    background: no-repeat center center fixed; 
    background-size: 100%;
    background-position-x: 80%;
    color: white;
    font-size: 5vw;
    font-family: 'Lato', sans-serif;
    height: 100%;
    animation: slide 0.75s;
}

@keyframes slide {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


html{
    height: 60%;
}

form{
    margin: auto;
    width: 50%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 6%;
}
#greeting{
    margin-top: 15%;
    text-align: center;

}
#greeting-result{
    margin-top: 0%;
    text-align: center;
}
#results{
    margin-top: -5%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 120% 120%;
    height: 20%;
    
}
.desc{
    font-size: 50%;
}
#city-name{
    margin-top: 0%;
    margin-bottom: 1%;
    padding-bottom: 0;
}
#time{
    float: right;
}

h3{
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.result-text{
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    text-align: center;
}

#input{
    background-color: transparent;
    height: 25%;
    width: 75%;
    text-align: center;
    border: 1px solid black;
    padding: 2%;
    outline: none;
    border-radius: 25px;
    transition: 0.5s;
}

#input:focus{
    width: 100%;
    border: 5px solid white;
    background-color: white;
    border-radius: 25px;
}
::placeholder { 
    color: white;
    opacity: 1;
  }
  
  :-ms-input-placeholder { 
    color: white;
  }
  
  ::-ms-input-placeholder {
    color: white;
  }

#submit{
    background-color:transparent;
    margin: 5% 75% 0%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    border: 2px solid#00DDDD;
    outline: none;
    border-radius: 25px;
    transition: 0.5s;
    color: white;
}
#restart{
    background-color:#00DDDD;
    margin: 7.5% 75% 0%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    border: 2px solid#00DDDD;
    border-radius: 25px;
    color: white; 
    height: 0.5%;
    position: absolute;
    left: -38%;
    bottom: 10%;
    display: flex;
    align-items:center;
    justify-content:center;
}

#submit:hover{
    background-color:#00DDDD;
}

p{
    font-size: 2vw;
}

